<div class="container">
    <div class="row py-5">
        <hr class="mb-5">
      <div class="col position">
          <h3>Car4You</h3>
      </div>
      <div class="col"></div>
      <div class="col">
        <h5>Sobre o Site</h5>
        <p>Visitado por milhões de potenciais compradores de veículos todos os meses, o Car4You é um facilitador tanto para quem quer comprar quanto para quem quer vender automóveis, e oferece ao seu público cerca de 200 mil opções de veículos entre carros, motos e caminhões..</p>
      </div>
      <div class="col"></div>
      <div class="col">
        <h5>Desenvolvedores:</h5>
        <p>Maria Fernanda - responsável pelo desing e código</p>
        <p>Rodrian - responsável pela coleta de informações</p>
      </div>
  </div>
</div>
  