<div class="container-fluid posicao">
    <div class="row ">
      <div class="col "><img [src]="carro.img" class="sizeImg"></div>
      <div class="col bg-light">
        <div>
          <h2 class="text-center pt-5">{{carro.title}}</h2>
          <div class="row">
            <span class="texto">Modelo:</span>
            <span class="texto2">{{carro.modelo}}</span>
          </div>
          <div class="row">
            <span class="texto">Marca:</span>
            <span class="texto2">{{carro.marca}}</span>
          </div>
          <div class="row">
            <span class="texto">Ano:</span>
            <span class="texto2">{{carro.ano}}</span>
          </div>
          <div class="row">
            <span class="texto">Cor:</span>
            <span class="texto2">{{carro.cor}}</span>
          </div>
          <div class="row">
            <span class="texto">Combustível:</span>
            <span class="texto2">{{carro.combustivel}}</span>
          </div>
          </div>
          <div class="row">
            <div class="d-grid gap-2 botao">
            <button class="btn btn-dark btn-lg" type="button">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 pt-5">
        <h5>Observações do Vendedor:</h5>
        <div class=" size">
          <p class="texto3">{{carro.obs}}</p>
        </div>
      </div>
    </div>
  </div>
  
  