 <div class="container m-auto ">
  <div class="row pt-5"><h3>Foram encontrados 8 carros proximos a sua região para a venda.</h3></div>
   <div class="row mt-5">

   <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[0].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[0].title}}</h5>
        <p class="card-text"><small>{{carros[0].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[0].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[0].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[1].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[1].title}}</h5>
        <p class="card-text"><small>{{carros[1].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[1].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[1].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[2].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[2].title}}</h5>
        <p class="card-text"><small>{{carros[2].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[2].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[2].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[3].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[3].title}}</h5>
        <p class="card-text"><small>{{carros[3].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[3].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[3].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[4].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[4].title}}</h5>
        <p class="card-text"><small>{{carros[4].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[4].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[4].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[5].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[5].title}}</h5>
        <p class="card-text"><small>{{carros[5].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[5].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[5].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[6].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[6].title}}</h5>
        <p class="card-text"><small>{{carros[6].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[6].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[6].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>


  <div class="col pb-4">
    <div class="card shadow-sm" style="width: 18rem;">
      <img src="{{carros[7].img}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{carros[7].title}}</h5>
        <p class="card-text"><small>{{carros[7].desc}}</small></p>
        <p class="card-text textoPreco">{{carros[7].preco}}</p>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-dark" routerLink="/detalhes2/{{carros[7].indice}}">VER OFERTA</button>
        </div>
      </div>
    </div>
  </div>


   </div>
</div>
  

